<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" th:href="@{/css/default.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" id="bootstrap-css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title layout:title-pattern="$CONTENT_TITLE">Test</title>

</head>
<body>
	<nav class="navbar navbar-dark bg-dark navbar-fixed-top" id="navbar" style="background-color: black	">
		<div class="container">
		<div>
				<div th:insert="fragments/header :: header">The header menu
					will go here</div>
			</div>
			</div>
	</nav>
	<div layout:fragment="content">Replace this with your own
					fragment for content</div>
	<footer th:insert="fragments/footer :: footer"
		class="page-footer font-large" id="foot"> This will be
		replaced by the footer fragment. </footer>

</body>
</html>