body {
	font: 20px Montserrat, sans-serif;
	line-height: 1.8;
	color: #f5f6f;
}

p {
	font-size: 16px;
}

.margin {
	margin-bottom: 45px;
}

.bg-1 {
	background-color: #1abc9c;
	color: #ffffff;
}

.bg-2 {
	background-color: #474e5d;
	color: #ffffff;
}

.bg-3 {
	background-color: #ffffff;
	color: #555555;
}

.bg-4 {
	background-color: #2f2f2f;
	color: #fff;
}

.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}

.navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	font-size: 12px;
	letter-spacing: 5px;
}

.navbar-nav  li a:hover {
	color: white !important;
	-ms-transform: scale(1.3); /* IE 9 */
	-webkit-transform: scale(1.3); /* Safari 3-8 */
	transform: scale(1.3);
	transition: transform .5s;
}

.custom:link {
	color: white;
	text-decoration: none;
}

.custom:visited {
	color: white;
	text-decoration: none;
}

.custom:hover {
	color: white !important;
	text-decoration: none;
}

.custom:active {
	color: white;
	text-decoration: none;
}

.repo {
	overflow: hidden;
}

.comp{
	overflow:hiden;
}

.repo-contents {
	width: 100%;
	margin-left: 6%;
	margin-right: auto;
}

.comp:hover {
	transform: scale(1.03);
	transition: transform .5s; /* Animation */
}

#foot{
	margin-top:20px;
	background-color:black;
	height:80px;
	width:100vw;
}

.footer-text, .footer-text a{
	text-align:center;
	color:white;
	padding-top:2%;
}

.other-mainbody, #other-mainbody, .mainbody-java{
    margin-top:-100px;
    padding-top:100px;
    margin-left:auto;
    margin-right:auto;
    width: 70vw;
    min-height:100vh;
}

#mainbody-container{
    padding-top:10vh;
}

.mainbody-topic{
    margin-top:-100px;
    padding-top:100px;
    width: 70vw;
    min-height:100vh;
 }

.profile-form{
    padding-top:5vh;
}


/*HOME REPO CSS*/
.repo-home-container {
  display: grid;
  grid-template-columns: 24vw 24vw 24vw 24vw;
  grid-auto-rows: 25vh;
  justify-content: center;
}

.home-repo-head{
    font-size:1.5vw;
}
.home-repo-desc{
    font-size:1vw;
}

.repo-home-link{
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin:10px;
    text-decoration: none;
    color:black;
    transition: transform .2s;
}

.repo-home-link:hover{
    text-decoration:underline;
    color:black;
    transform: scale(1.1);
}

.repo-home-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.repo-container{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
/*END HOME REPO CSS*/


@media only screen and (max-width: 900px) {

    #mainbody-container{
        padding-top:10vh;
    }

	#foot{
	background-color:black;
	height:80px;
	width:100vw;
}

.footer-text, .footer-text a{
	text-align:center;
	color:white;
	padding-top:6%;
}

.repo-home-container {
  display: grid;
  grid-template-columns: 90vw;
}

.home-repo-head{
    font-size:4vw;
}
.home-repo-desc{
    font-size:3vw;
}


}
