<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Blog</title>
</head>

<body>
	<h1>Welcome to my blog page</h1>
	<div class="category-items">
		<ul th:each="topic : ${uniqueTopics}">
			<a th:href="@{/} + ${topic}"><li th:text="${topic}">TOPIC</li></a>
		</ul>
	</div>
	<div class="blog-items" id="blogs">
		<h2>Read my blogs</h2>
		<div th:each="blog : ${allBlogs}">
			<p th:text="${blog.title}">TITLE</p>
			<br />
			<p th:text="${blog.topic}">TOPIC</p>
			<br />
			<p th:text="${blog.body}">BODY</p>
			<br />
			<img th:src="@{/images/} + ${blog.image}" />
			<br />
			<hr>
		</div>
	</div>
</body>
</html>