<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" lang="en"
	  layout:decorate="~{layouts/layout}">
<head>
	<title th:text="${repository.name}">Title</title>
	<style>

#foot{
	visibility:hidden;
}
</style>
</head>
<!-- repository -->
<body>
<div layout:fragment="content">
	<div class="mainbody-topic">
		<div class="code-left" id="left-side">
			<div class="vertical-menu">
				<a th:each="heading : ${headings}" th:href="'#' + ${heading}" th:text="${heading}">Nav</a>
			</div>

		</div>
		<div class="code-right" id="right-side" style="scroll-behavior: smooth;">
			<div class="repo-contents" th:each="contents : ${repositoryContents}">

				<p style="padding-top: 85px; margin-top: -85px;" th:if="${contents.ignore != true}" th:id="${contents.path}" th:text="${contents.name}">sub</p>
				<pre th:if="${contents.download_url != null and contents.ignore != true}" th:text="${contents.raw}">raw</pre>

				<div class="tree" th:if="${contents.type} == 'dir'">
					<div class="tree-content" th:each="repo : ${contents.recursive}">
						<p style="padding-top: 85px; margin-top: -85px;" class="code-title" th:id="${repo.path}" th:text="${repo.path}">Recursive path</p>
						<pre th:text="${repo.code}">Code here</pre>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>