<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Chitra Limbu</title>
</head>

<body>
	<h1>Chitra Limbu</h1>

	<div class="links">
		<ul>
			<li><a th:href="@{/}">Profile</a></li>
			<li>Java</li>
			<li>Blog</li>
		</ul>
	</div>
	<div class="experience" id="experience">
		<ul th:each="exp : ${allExperience}">
			<li th:text="${exp.title}">Title</li>
			<li th:text="${exp.startDate} + ' - ' + ${exp.endDate}">Duration</li>
			<li th:text="${exp.organisation}">Organisation</li>
			<li th:text="${exp.description}">Description</li>
			<li>Tasks
				<ul th:each="tasks: ${exp.tasks}">
					<li th:text="${tasks.task}">Task</li>
				</ul>
			</li>
		</ul>
	</div>

</body>
</html>