<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>Profile</title>
</head>

<body>
<div class="container">
	<form action="#" th:action="@{/profile/update}" th:object="${experience}" method="post" >
		Title
		<input type="text" class="form-control" placeholder="Title" required="required" th:field="*{title}" value="${experience.title}"/><br />
		Start Date (Month Year) 
		<input type="text" class="form-control" placeholder="Start Date (MMMM YYYY)" th:field="*{startDate}" value="${experience.startDate}"/><br />
		End Date (Month Year or Present) 
		<input type="text" class="form-control" placeholder="(MMMM YYYY or PRESENT)" th:field="*{endDate}" value="${experience.endDate}"/><br />
		Organisation 
		<input type="text" class="form-control" placeholder="Organisation" required="required" th:field="*{organisation}" value="${experience.organisation}"/><br />
		Description  
		<input type="text" class="form-control" placeholder="Description" th:field="*{description}" value="${experience.description}"/><br />
		Tasks 
		<textarea name="task" class="form-control" placeholder="Tasks" th:text="${task}" rows="10">TASK HERE</textarea>
		<input type="submit" class="btn btn-primary" value="Submit" /> 
	</form>
</div>	
</body>

</html>