<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


  <body>
    <h1>Register</h1>

    <form action="#" method="POST" th:action="@{/register}" th:object="${register}" id="registerForm">
        <label for="username">Username: </label>
        <input type="text" class="form-control" name="username"/><br/>
   			<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
        <label for="password">Password: </label>
        <input type="password" class="form-control" name="password"/><br/>
   			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
      
        <label for="confirm">Confirm password: </label>
        <input type="password" class="form-control" name="confirm"/><br/>
   			<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
        <label for="fullname">Full name: </label>
        <input type="text" class="form-control"name="fullname"/><br/>

	<div class = "form-group">
   		 <label for="email">E-Mail: </label>
       	 <input type="text" class="form-control" name="email"/><br/>
		 <div class="invalid-feedback">
   			<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</p>
		 </div>
	</div>
        <input type="submit" class="btn btn-primary" value="Register"/>
    </form>

  </body>
</html>