<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/default.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
          id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Upload Photo</title>
</head>
<body>
<div class="upload-container">
    <div class="upload-media">
        <h1 th:text="${update}? 'Update ' + ${update} : 'Upload new photo'">Upload/update Photo</h1>
        <form action="#" method="POST" th:action="${update}? @{/media/photos/add}+'?update=' + ${update} : @{/media/photos/add}" enctype="multipart/form-data">
            <label for="upload-title">Name:</label>
            <input th:value="${update}? ${update}" type="text" class="form-control" id="upload-title" name="title" width="30px" required/>
            </br>
            <label class="btn btn-default">
                <input type="file" name="image" accept="image/*" />
            </label>
            <input type="submit" class="btn btn-primary" value="Upload"/>
        </form>
    </div>
</div>
</body>
</html>